[Unit]
Description=shh
After=syslog.target

[Service]
Type=simple
ExecStart= # FILL THIS IN: .../go/bin/shh serve
Environment=HOME= # FILL THIS IN
TimeoutSec=1

[Install]
WantedBy=multi-user.target
